$primary-color: #76a6b0;
$second-color: #b3bbc6;
$third-color: #f9e6e2;

$primary-color_hover: #8fbec7;
$second-color_hover: #c9d4e2;
$third-color_hover: #f6f3f2;

$shadow: 10 10 10 rgba(255, 255, 255, 0.7);
